/* ! Main window background colour */
.mainWindow {
  background-color: #24292e;
  color: #000000;
  box-shadow: inset 4px 4px 0px #1b1f23, inset -4px -4px 0px #1b1f23,
    inset -4px 4px 0px #1b1f23, inset 4px -4px 0px #1b1f23;
}

/* ! The label between the two file boxes */
.fileLabel {
  font-size: 13px;
  color: #ffffff;
  border: 2px solid #1b1f23;
  background-color: #24292e;
}

/* ! For the compiler buttons */
.compButtons {
  /* Text colors */
  color: #ffffff;
  text-shadow: none;
  font-size: 15px;

  background-color: #000000; /* Weird corner bits? */
  background-image: image(#1f2428); /* Main button background */
  border-color: #1b1f23; /* border colour */
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: none;

  /* Button borders */
  border-width: 2px;
  border-radius: 0px;
}
/* Set background when hovering over */
.compButtons:hover {
  background-image: image(#24292e);
}
/* Set border and box shadow when active 
.compButtons:active {
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
}*/
/* Set look when disabled */
.compButtons:disabled {
  background-image: image(#24292e);
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
  color: #3f454b;
}
/* Set background and border when focused */
.compButtons:focus {
  background-image: image(#24292e);
  border-color: #258eb8;
}
/* Set background, border and box shadow when focused and active */
.compButtons:focus:active {
  background-image: image(#24292e);
  border-color: #267594;
  box-shadow: inset 3px -3px 0px #3f454b, inset -3px 3px 0px #000000;
}

/* ! For the containers */
.layouts {
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

/* ! For the control buttons */
.controlButtons {
  /* Text colors */
  color: #ffffff;
  text-shadow: none;
  font-size: 20px;

  background-color: #000000; /* Weird corner bits? */
  background-image: image(#1f2428); /* Main button background */
  border-color: #1b1f23; /* border colour */
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: none;

  /* Button borders */
  border-width: 2px;
  border-radius: 0px;
}
/* Set background when hovering over */
.controlButtons:hover {
  background-image: image(#24292e);
}
/* Set border and box shadow when active 
.controlButtons:active {
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
}*/
/* Set look when disabled */
.controlButtons:disabled {
  background-image: image(#24292e);
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
  color: #3f454b;
}
/* Set background and border when focused */
.controlButtons:focus {
  background-image: image(#24292e);
  border-color: #258eb8;
}
/* Set background, border and box shadow when focused and active */
.controlButtons:focus:active {
  background-image: image(#24292e);
  border-color: #267594;
  box-shadow: inset 3px -3px 0px #3f454b, inset -3px 3px 0px #000000;
}

/* ! For the containers */
.layouts {
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

/*
.dialog {
  color: #1b1f23;
  background-color: #ff00ff;
  background-image: image(#1b1f23);
  outline-color: #1c7428;
  border-color: #ffff00;
}
*/

/* ! GRID */
.grid {
  border-radius: 0px;
  border: 3px solid;
  color: #ffffff;
  font-size: 16px;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  border-color: #1b1f23;
}
