/* ! Main window background colour */
.mainWindow {
  background-color: #1f2428;
  color: #000000;
  box-shadow: inset 4px 4px 0px #1b1f23, inset -4px -4px 0px #1b1f23,
    inset -4px 4px 0px #1b1f23, inset 4px -4px 0px #1b1f23;
}

/* ! For the containers */
.layouts {
  border: solid 1px #1b1f23;
}

/* ! The label between the two file boxes */
.fileLabel {
  font-size: 13px;
  color: #ffffff;
  border: 2px solid #1b1f23;
  background-color: #24292e;
}

/* ! For the compiler buttons */
.compButtons {
  /* Text colors */
  color: #ffffff;
  text-shadow: none;
  font-size: 15px;

  background-color: #000000; /* Weird corner bits? */
  background-image: image(#1f2428); /* Main button background */
  border-color: #1b1f23; /* border colour */
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: none;

  /* Button borders */
  border-width: 2px;
  border-radius: 0px;
}
.compButtons:hover {
  background-image: image(#24292e);
}
.compButtons:disabled {
  background-image: image(#24292e);
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
  color: #3f454b;
}
.compButtons:focus {
  background-image: image(#24292e);
  border-color: #005cc5;
}
.compButtons:focus:active {
  background-image: image(#24292e);
  border-color: #267594;
  box-shadow: inset 3px -3px 0px #3f454b, inset -3px 3px 0px #000000;
}

/* ! For the control buttons */
.controlButtons {
  /* Text colors */
  color: #ffffff;
  text-shadow: none;
  font-size: 20px;

  background-color: #000000; /* Weird corner bits? */
  background-image: image(#1f2428); /* Main button background */
  border-color: #1b1f23; /* border colour */
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: none;

  /* Button borders */
  border-width: 2px;
  border-radius: 0px;
}
.controlButtons:hover {
  background-image: image(#24292e);
}
.controlButtons:disabled {
  background-image: image(#24292e);
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
  color: #3f454b;
}
.controlButtons:focus {
  background-image: image(#24292e);
  border-color: #005cc5;
}
.controlButtons:focus:active {
  background-image: image(#24292e);
  border-color: #267594;
  box-shadow: inset 3px -3px 0px #3f454b, inset -3px 3px 0px #000000;
}

/* ! Register table */

/* ! the grid */
.registerTable {
  border-radius: 0px;
  border: 3px solid;
  border-color: #24292e;
}

/* ! The labels for within the table */
.tableLabels {
  box-shadow: inset 2px -2px 2px #596166, inset -4px 4px 2px #1d2024;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  color: #ffffff;
  font-size: 14px;
  background-color: #444d56;
}

/* ! The disassembly rows */

/* ! Disassembly container */
.disassemblyContainer {
  box-shadow: inset 2px -2px 2px #596166, inset -4px 4px 2px #1d2024;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  background-color: #444d56;
}
.disassemblyRows:active {
  background-color: #634e18;
}
.disassemblyRows:active:focus {
  background-color: #4d84ac;
}
.disassemblyRows:focus {
  background-color: #005cc5;
}

/* ! Styling for the breakpoint buttons */
.breakpointButtons {
  border-radius: 1000px;
  margin: 1px;
  background-image: image(#72211c);
  border-color: #72211c;
  box-shadow: none;
}
.breakpointButtons:checked {
  background-image: image(#e51400);
  border-color: #e51400;
  box-shadow: none;
}

/* ! The labels within the memory rows */
.disassemblyLabels {
  color: #ffffff;
  font-size: 12px;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  border-left: 2px solid #1b1f23;
}

/* ! The terminal */

/* ! The terminal display box */
.terminalDisplay text {
  color: #ffffff;
  background-color: #24292e;
  border-style: solid;
  border-width: 2px;
  border-color: #1b1f23;
  border-radius: 0%;
}
.terminalDisplay:focus text {
  border-color: #005cc5;
}
.terminalDisplay {
  font-size: 14px;
  font-family: "Fira Code Retina", "Fira Code", monospace;
}

/* ! The terminal input box */
.terminalInput {
  font-size: 18px;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  background-color: #444d56;
  color: #ffffff;
  border-color: #1b1f23;
  border-radius: 0%;
}
.terminalInput:focus {
  border-color: #005cc5;
}
