/* ! Main window background colour */
.mainWindow {
  /*background-color: #1e7edd;*/
  background-color: #1f2428;
  color: #000000;
  box-shadow: inset 4px 4px 0px #1b1f23, inset -4px -4px 0px #1b1f23,
    inset -4px 4px 0px #1b1f23, inset 4px -4px 0px #1b1f23;
}

/* ! The label between the two file boxes */
.fileLabel {
  font-size: 13px;
  color: #ffffff;
  border: 2px solid #1b1f23;
  background-color: #24292e;
}

/* ! For the compiler buttons */
.compButtons {
  /* Text colors */
  color: #ffffff;
  text-shadow: none;
  font-size: 15px;

  background-color: #000000; /* Weird corner bits? */
  background-image: image(#1f2428); /* Main button background */
  border-color: #1b1f23; /* border colour */
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: none;

  /* Button borders */
  border-width: 2px;
  border-radius: 0px;
}
/* Set background when hovering over */
.compButtons:hover {
  background-image: image(#24292e);
}
/* Set look when disabled */
.compButtons:disabled {
  background-image: image(#24292e);
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
  color: #3f454b;
}
/* Set background and border when focused */
.compButtons:focus {
  background-image: image(#24292e);
  border-color: #005cc5;
}
/* Set background, border and box shadow when focused and active */
.compButtons:focus:active {
  background-image: image(#24292e);
  border-color: #267594;
  box-shadow: inset 3px -3px 0px #3f454b, inset -3px 3px 0px #000000;
}

/* ! For the containers */
.controls_layouts {
  /*background-color: #ffe608;*/
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

.terminal_layouts {
  /*background-color: #ff6600;*/
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

.dis_layouts {
  /*background-color: #ee3d3d;*/
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

.topContainer_layouts {
  /*background-color: #382130;*/
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

.compileLoad_layouts {
  /*background-color: #e74747;*/
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

.registers_layouts {
  /*background-color: #00ff22;*/
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

/* ! For the control buttons */
.controlButtons {
  /* Text colors */
  color: #ffffff;
  text-shadow: none;
  font-size: 20px;

  background-color: #000000; /* Weird corner bits? */
  background-image: image(#1f2428); /* Main button background */
  border-color: #1b1f23; /* border colour */
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: none;

  /* Button borders */
  border-width: 2px;
  border-radius: 0px;
}
/* Set background when hovering over */
.controlButtons:hover {
  background-image: image(#24292e);
}
/* Set look when disabled */
.controlButtons:disabled {
  background-image: image(#24292e);
  box-shadow: inset 1px -1px 0px #3f454b, inset -1px 1px 0px #000000;
  color: #3f454b;
}
/* Set background and border when focused */
.controlButtons:focus {
  background-image: image(#24292e);
  border-color: #005cc5;
}
/* Set background, border and box shadow when focused and active */
.controlButtons:focus:active {
  background-image: image(#24292e);
  border-color: #267594;
  box-shadow: inset 3px -3px 0px #3f454b, inset -3px 3px 0px #000000;
}

/* ! For the containers */
.layouts {
  /* TODO: use borders instead of box shadows? */
  box-shadow: inset 2px 2px 0px #1b1f23, inset -2px -2px 0px #1b1f23,
    inset -2px 2px 0px #1b1f23, inset 2px -2px 0px #1b1f23;
}

/*
.dialog {
  color: #1b1f23;
  background-color: #ff00ff;
  background-image: image(#1b1f23);
  outline-color: #1c7428;
  border-color: #ffff00;
}
*/

/* ! GRID */

.grid {
  border-radius: 0px;
  border: 3px solid;
  border-color: #24292e;
}

.tableLabels {
  box-shadow: inset 2px -2px 2px #596166, inset -4px 4px 2px #1d2024;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  color: #ffffff;
  font-size: 14px;
  background-color: #444d56;
}

.disassembly_container {
  box-shadow: inset 2px -2px 2px #596166, inset -4px 4px 2px #1d2024;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  background-color: #444d56;
}

.disassembly_rows:focus {
  background-color: #005cc5;
  /*box-shadow: inset 2px 2px 0px #005CC5, inset -2px -2px 0px #005CC5,
    inset -2px 2px 0px #005CC5, inset 2px -2px 0px #005CC5;*/
}

.breakpoint_buttons {
  border-radius: 100%;
  background-image: image(#72211c);
  border-color: #72211c;
  box-shadow: none;
}
.breakpoint_buttons:checked {
  background-image: image(#e51400);
  border-color: #e51400;
  box-shadow: none;
}

.address_label {
  color: #ffffff;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: inset 2px 0px 0px #24292e;
  /*background-color: #1edd8d;*/
}

.hex_label {
  color: #ffffff;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: inset 2px 0px 0px #24292e;
  /*background-color: #dd1e9d;*/
}

.disassembly_label {
  color: #ffffff;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  box-shadow: inset 2px 0px 0px #24292e;
  /*background-color: #dd741e;*/
}

/* The terminal display box */
.terminalDisplay text {
  color: #ffffff;
  background-color: #24292e;
  border-style: solid;
  border-width: 2px;
  border-color: #1b1f23;
  border-radius: 0%;
}

.terminalDisplay:focus text {
  border-color: #005cc5;
}

.terminalDisplay {
  font-size: 14px;
  font-family: "Fira Code Retina", "Fira Code", monospace;
}

/* The terminal input box */
.terminalInput {
  font-size: 18px;
  font-family: "Fira Code Retina", "Fira Code", monospace;
  background-color: #444d56;
  color: #ffffff;
  border-color: #1b1f23;
  border-radius: 0%;
}
.terminalInput:focus {
  border-color: #005cc5;
}
